/*
Make the body background colour
*/

body {
    width: 500px;
    min-width: 200px;
    margin: 0 auto;
    background-color: #fafafa;
}

/*
Properties for the h1 element 
*/
h1 {
    color: #754040;
    font-weight: 800;
    font-family: Arial, Tahoma, sans-serif;
    font-size: 35px;
    background-color: #fafafa;
    margin: 0px auto;
    padding: 10px 0px;

}

/*
Properties for the h2 element 
*/

h2 {
    color: #754040;
    font-weight: 600;
    font-family: Arial, Tahoma, sans-serif;
    font-size: 28px;
    background-color: #fafafa;
    margin-top: -10px;
    margin-bottom: 18px;
}

/*
Properties for the h3 element 
*/

h3 {
    color: #362020;
    font-weight: 400;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 20px;
    padding: 5px 0px;
    margin-top: -10px;
}

/*
Properties for the img element
object-fit:cover crops out excessive pixels and while maintaining aspect ratio 
*/

img {
    box-sizing: border-box;
    width: 500px;
    height: 500px;
    min-width: auto;
    object-fit: cover;
    padding: 20px;
}

/*
Properties for the p element 
*/

p {
    font-family: 'Times New Roman', Tahoma, sans-serif;
    font-size: 18px;
    text-align: left;
    background-color: #fafafa;
    padding: 10px;
    margin-top: -10px;

}

/*
Properties for the div element 

Not cocmpletely sure what effect this has on the code atm. We'd see
*/
div {
    font-family: 'Times New Roman', Tahoma, sans-serif;
    font-size: 18px;
}

.homepage {
    font-family: 'Lucida Sans', 'Gill Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #46302a;
}


.container {
    background-color: #d4c9bb;
    max-width: 500px;
    width: 100%;
    margin-top: 0px;
    text-align: center;
    padding: 20px;
    
}

.menu, .ingredients, .steps {
    background-color: #fafafa;
    text-align: left;
    margin-top: -10px;
    padding: 5px 0px;


}

.img_con {
    background-color: #fafafa;
    margin-top: 10px;
}

.foot {
    background-color: #fafafa;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
}
